<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Raspi</title>
    <link rel="stylesheet" href="https://cdnjs.loli.net/ajax/libs/mdui/0.4.2/css/mdui.min.css">
    <script src="https://cdnjs.loli.net/ajax/libs/mdui/0.4.2/js/mdui.min.js"></script>
</head>
<body class="mdui-appbar-with-toolbar mdui-drawer-body-left">
    <div class="mdui-appbar mdui-appbar-fixed">

    </div>
    <!-- 默认抽屉栏在左侧 -->
  <div class="mdui-drawer mdui-shadow-3">
      <ul class="mdui-list left-ul ">

      </ul>
  </div>
    <div class="mdui-container">
        <div class="mdui-row mdui-m-t-2">
            <div id="dht_canvers" class=" mdui-col-md-5 mdui-shadow-2 mdui-m-y-1 " style="height: 350px;"></div>
        </div>
    </div>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="/static/js/http.js"></script>
    <script src="/static/js/index.js"></script>
    <script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.min.js"></script>
    <script>
        var dht_canvers = echarts.init($("#dht_canvers").get(0));
        var dht_option = {
                title: {
                        text: '{{datetime}}'
                },
                tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                                type: 'shadow'
                        }
                },
                //提示框组件
                legend: { //图例组件
                        data: [""] //图例的数据数组。数组项通常为一个字符串，每一项代表一个系列的 name
                },
                xAxis: { //直角坐标系 grid 中的 x 轴
                        data: ['温度( ℃ )', "湿度( % )"]
                },
                yAxis: {},
                series: [{ //系列列表
                        name: "",
                        //系列名称，用于tooltip的显示，legend 的图例筛选
                        color: ["#80DEEA"],
                        type: 'bar',
                        //类型
                        barWidth: 80,
                        itemStyle: {
                                normal: {
                                        label: {
                                                show: true,
                                                position: 'insideTop'
                                        }
                                }

                        },
                        data: ["{{temperature}}", "{{humidity}}"] //系列中的数据内容数组。数组项通常为具体的数据项
                }]
        };
        dht_canvers.setOption(dht_option);
        window.onresize = function() {
                dht_canvers.resize(); //屏幕变化时图标自适应
        }
    </script>
</body>
</html>